.flex_container{
    max-width: 80%;
    height: 9rem;
    margin: 0 auto 0 auto;
}
html{
    /* 1rem = 10px */
    font-size: 62.5%; 
}
.flex_container .logo{
    max-width: 50%;
}
.SearchIcon{
    background-color: #4F46E5;
    color: white;
    padding: 7px 8px;
    border-radius: 100%;
    text-align: center;

}

